* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

/*--------------------------------------------------*/

.headerBlock {
	height: 100vh;
	background-image: url(../img/veggie1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.headerBlock__column {
	margin: 20px 40px;
	float: right;
}

.headerBlock__menu {
	text-transform: uppercase;
}

.headerBlock__menu li {
	display: inline-block;
	padding: 15px 25px;
	border: 2px solid transparent;
	cursor: pointer;
}

.headerBlock__menu li:hover {
	background: darkgrey;
	color: white;
	border: 2px solid black;
}

.headerBlock__title {
	height: 80%;
	width: 100%;
	color: black;
	float: right;
	text-align: center;
	padding-top: 30%;
	font-size: 40px;
}

/*--------------------------------------------------*/

.yellowBlock {
	background-color: orange;
	display: flex;
	justify-content: space-around;
	padding: 10px 20px 20px;
	text-align: center;
	color: #333333;
}

.yellowBlock_column {
	width: 400px;
	margin: 20px 0px;
}

.yellowBlock_column p {
	font-size: 25px;
	margin: 10px 0px;
}

.yellowBlock_column i {
	font-size: 50px;
	margin: 10px 0px;
}

#food:hover {
	transition: 0.3s;
	color: #ededed;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	cursor: default;
}

#drinks:hover {
	transition: 0.3s;
	color: #ededed;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	cursor: default;
}

#dessert:hover {
	transition: 0.3s;
	color: #ededed;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	cursor: default;
}

/*--------------------------------------------------*/

.gridBlock {
/*	height: 80vh;*/
}

.gridBlock__title {
	text-align: center;
	padding-top: 30px;
	font-size: 35px;
}

.gridBlock__menu {
	width: 96vw;
	margin: 20px 2vw 60px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	color: #383838;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.gridBlock__menu div {
	background: #f2f2f2;
	height: 220px;
}

.gridBlock__menu img {
	height: 100%;
	width: 100%;
}

.gridBlock__layer {
    overflow: auto;
} 

.gridBlock__layer h2 {
	font-size: 22px;
	width: 96%;
    margin: 30px 2% 10px;
    text-align: center;
}

.gridBlock__layer hr {
	margin: 10px 60px;
}

.gridBlock__layer p {
    width: 96%;
    margin: 10px 2% 0px;
    text-align: center;
}

/*--------------------------------------------------*/

.aboutUsBlock {
	height: 100vh;
	background: lightgrey;
	background-image: url(../img/background_vegann.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.aboutUsBlock__text {
	height: 80vh;
	width: 45%;
    text-align: center;
    padding: 10vh 5vw;
    font-size: 35px;
}

#aboutUsTitleHead {
	margin-left: 20vw;
	font-family: 'Playball', cursive;
	font-size: 70px;
}

#aboutUsTitleHead:hover {
	text-shadow: 1px 1px 4px white, 0 0 1em white;
	cursor: default;
}

/*--------------------------------------------------*/

.menuBlock {
/*	height: 100vh;*/
}

.menuBlock__title {
	text-align: center;
	padding-top: 30px;
	font-size: 35px;
}

.menuBlock__menu {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}

.menuBlock__menu li {
	display: inline-block;
	padding: 15px 25px;
	border: 2px solid transparent;
	cursor: pointer;
}

.menuBlock__menu li:hover {
	background: darkgrey;
	color: white;
	border: 2px solid black;
}

.menuBlock__leftForm {
	display: inline-block;
	width: 48%;
	margin-bottom: 5vh;
}

.menuBlock__leftForm li {
	color: #383838;
	padding: 30px 100px;
	clear: both;
}

.menuBlock__rightForm {
	display: inline-block;
	width: 48%;
	margin-bottom: 5vh;
	float: right;
}

.menuBlock__rightForm li {
	color: #383838;
	padding: 30px 100px;
	clear: both;
}

.menuBlock i {
	font-size: 30px;
	text-transform: uppercase;
	float: left;
}

.menuBlock h3 {
	float: right;
	font-size: 30px;
}

.menuBlock hr {
	margin-top: 25px;
}

.menuBlock p {
	font-size: 20px;
	float: left;
	clear: both;
}

/*--------------------------------------------------*/

.footerBlock {
	height: 100vh;
	background-image: url(../img/footerBack.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.footerBlock__column {
	height: 68vh;
    margin: 4vh 15%;
    float: right;
    background: #f3f3f3;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(170,170,170,1);
}

.footerBlock__title {
    height: 18vh;
    text-align: center;
    padding-top: 2vh;
    font-size: 40px;
}

.footerBlock__leftText {
    height: 10vh;
    margin: 0px 30px;
    display: inline-block;
    width: 35%;
}

.footerBlock__leftText p {
	font-size: 30px;
}

.footerBlock__leftText i {
	font-size: 20px;
}

.footerBlock__rightText {
    height: 10vh;
    margin: 0px 30px;
    display: inline-block;
    width: 35%;
    float: right;
}

.footerBlock__rightText p {
	font-size: 30px;
}

.footerBlock__rightText i {
	font-size: 20px;
}

.footerBlock__contact input {
  	border: 0px;
  	border-bottom: 1px solid grey;
  	background-color: transparent;
}

#name {
    outline: none;
    margin-top: 5vh;
    margin-left: 30px;
    display: inline-block;
    width: 35%;
    clear: both;
    float: left;
    font-size: 20px;
}

#email {
    outline: none;
    margin-top: 5vh;
    margin-right: 30px;
    display: inline-block;
    width: 35%;
    float: right;
    font-size: 20px;
}

#message {
    outline: none;
    margin: 5vh 30px 0px;
    width: 89.5%;
    display: inline-block;
    float: left;
    font-size: 20px;  
}

.send {
	text-align: center;
}

.send input {
	outline: none;
    height: 8vh;
    width: 140px;
    margin-top: 6vh;
    font-size: 20px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.3);
}

.links {
    height: 24vh;
    margin: 0% 15% 0px 0px;
    float: right;
    clear: both;
}

.links__icons {
    width: 75px;
    padding: 20px;
	margin: 0px 15px;
    border: 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 65px;
    float: left;
}


.links__icons:hover {
	background: darkgrey;
	border: 2px solid grey;
}

/*--------------------------------------------------*/

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 768px)
and (min-device-height : 640px)
and (max-device-height : 1024px) {


.headerBlock__column {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	position: absolute;
    left: 0;
    right: 0;
    margin-top: 35%;
}

.headerBlock__menu {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}

.headerBlock__title {
	color: white;
    padding-top: 30px;
    font-size: 60px;
}

/*--------------------------------------------------*/

.yellowBlock {
	background-color: lightgreen;
}

/*--------------------------------------------------*/

.aboutUsBlock {
	background-position: center;
}

.aboutUsBlock__text {
	font-size: 45px;
}

/*--------------------------------------------------*/

.footerBlock__column {
	width: 90%;
	margin: 4vh 5%;
}

.footerBlock__title {
    font-size: 50px;
}

.footerBlock__leftText p {
	font-size: 40px;
}

.footerBlock__leftText i {
	font-size: 30px;
}

.footerBlock__rightText p {
	font-size: 40px;
}

.footerBlock__rightText i {
	font-size: 30px;
}

#name {
    font-size: 30px;
}

#email {
    font-size: 30px;
}

#message {
    font-size: 30px;  
}

.send input {
	width: 220px;
}

.links__icons {
	background-color: #517551;
}